﻿@model DeliveryASPNET.Models.Order
@{
    ViewBag.Title = "Delete order";
}

<div>
    <dl class="dl-horizontal">
        <dt>Sender</dt>
        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>

        <dt>Recipient</dt>
        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        </form>
    </div>
</div>