﻿@model DeliveryASPNET.Models.Order
@{
    ViewBag.Title = Model.Sender;
}
<h2>Sender - @Model.Sender</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Sender address</dt>
        <dd>@Model.SenderAddress</dd>

        <dt>Recipient</dt>
        <dd>@Model.Recipient</dd>

        <dt>Recipient address</dt>
        <dd>@Model.RecipientAddress</dd>

        <dt>Package weight (kg)</dt>
        <dd>@Model.PackageWeight</dd>

        <dt>Package send date</dt>
        <dd>@Model.PackageSendDate</dd>
    </dl>
</div>