﻿@model DeliveryASPNET.Models.Order
@{
    ViewBag.Title = "Change order";
}
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Sender" class="control-label">Sender</label>
        <input type="text" asp-for="Sender" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SenderAddress" class="control-label">Sender Address</label>
        <input type="text" asp-for="SenderAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Recipient" class="control-label">Recipient</label>
        <input type="text" asp-for="Recipient" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RecipientAddress" class="control-label">Recipient address</label>
        <input type="text" asp-for="RecipientAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PackageWeight" class="control-label">Package weight (kg)</label>
        <input type="number" asp-for="PackageWeight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PackageSendDate" class="control-label">Package send date</label>
        <input type="text" asp-for="PackageSendDate" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>