﻿@model IEnumerable<DeliveryASPNET.Models.Order>
@{
    ViewBag.Title = "All orders";
}

<a asp-action="Create">Create order</a>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Sender</td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">More</a> |
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Change</a> |
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

    }
</table>